.index-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .index-frame28 {
    width: 100%;
    height: 7240px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-ulta-landing-page {
    top: 0px;
    left: 0px;
    width: 1503px;
    height: 6407px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 1);
  }
  .index-frame1 {
    top: 0px;
    left: 0px;
    width: 1460px;
    height: 6860px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgba(209, 72, 54, 1) 0%, rgba(209, 72, 54, 0) 100%);
  }
  .index-frame2 {
    top: 85px;
    left: 142px;
    width: 1143px;
    height: 6302px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: content-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 1);
  }
  .index-rectangle1 {
    top: 4377px;
    left: 194px;
    width: 572px;
    height: 97px;
    position: absolute;
    border-color: transparent;
  }
  .index-frame6 {
    top: 327px;
    left: 562px;
    width: 330px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .index-frame17 {
    top: 63px;
    left: 76px;
    width: 417px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .index-text {
    top: 83px;
    left: 373px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-image4 {
    top: 1442px;
    left: -16px;
    width: 1142px;
    height: 5098px;
    position: absolute;
  }
  .index-text02 {
    top: 4222px;
    left: 555px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 70px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-frame18 {
    top: 1494px;
    left: 69px;
    width: 471px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .index-text06 {
    color: rgba(255, 255, 255, 1);
    width: 451px;
    height: auto;
    font-size: 100px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-ulta-olaplexno4clandingpage {
    top: 282px;
    left: 358px;
    width: 428px;
    height: 926px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .index-email {
    top: 0px;
    left: 0px;
    width: 428px;
    height: 926px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(243, 183, 185, 0.9399999976158142);
  }
  .index-ulta-logo {
    top: 22px;
    left: 65px;
    width: 280px;
    height: 133px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-u-l-t-a-logo-orange-pop1 {
    top: 8px;
    left: 14px;
    width: 250px;
    height: 114px;
    position: absolute;
    border-color: transparent;
  }
  .index-twofriendspic {
    top: 272px;
    left: 10px;
    width: 459px;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-friends1 {
    top: 89px;
    left: 28px;
    width: 348px;
    height: 263px;
    position: absolute;
    border-color: transparent;
  }
  .index-button {
    top: 672px;
    left: 226px;
    width: 133px;
    height: 54px;
    display: flex;
    padding: 15px 24px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px;
    flex-direction: column;
    background-color: rgba(244, 125, 57, 1);
  }
  .index-group1 {
    width: 100px;
    height: 23px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .index-text08 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .index-copy {
    top: 158px;
    left: 106px;
    width: 557px;
    height: 414px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-text10 {
    top: 16px;
    left: -1px;
    color: rgba(0, 0, 0, 1);
    width: 279px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-olaplex-image {
    top: 556px;
    left: -53px;
    width: 226px;
    height: 232px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-image1 {
    top: 15px;
    left: 84px;
    width: 166px;
    height: 207px;
    position: absolute;
    border-color: transparent;
  }
  .index-can-spaminfo {
    top: 847px;
    left: 0px;
    width: 394px;
    height: 57px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-text19 {
    top: 9px;
    left: 11px;
    color: rgba(0, 0, 0, 0.5);
    width: 383px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-ulta-landing-page-wireframe {
    top: 1707px;
    left: 293px;
    width: 428px;
    height: 926px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .index-ulta-logo1 {
    top: 88px;
    left: 65px;
    width: 280px;
    height: 133px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .index-u-l-t-a-logo-orange-pop11 {
    top: 8px;
    left: 14px;
    width: 250px;
    height: 114px;
    position: absolute;
    border-color: transparent;
  }
  .index-woman-image {
    top: 427px;
    left: 233px;
    width: 174px;
    height: 381px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .index-text24 {
    top: 108px;
    left: 42px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-text-box {
    top: 295px;
    left: 15px;
    width: 218px;
    height: 111px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .index-text26 {
    top: 24px;
    left: 43px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-product-box {
    top: 583px;
    left: 0px;
    width: 220px;
    height: 225px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .index-text28 {
    top: 35px;
    left: 76px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-frame19 {
    top: 2958px;
    left: 36px;
    width: 471px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .index-text30 {
    top: 2845px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    width: 451px;
    height: auto;
    position: absolute;
    font-size: 100px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-text32 {
    top: 3245px;
    left: 115px;
    color: rgba(255, 255, 255, 1);
    width: 866px;
    height: auto;
    position: absolute;
    font-size: 70px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-text43 {
    top: 4405px;
    left: 192px;
    color: rgba(255, 255, 255, 1);
    width: 866px;
    height: auto;
    position: absolute;
    font-size: 70px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-frame21 {
    top: 4280px;
    left: 115px;
    width: 943px;
    height: 153px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-text56 {
    top: 23px;
    left: 85px;
    color: rgb(243, 229, 229);
    width: 387px;
    height: auto;
    position: absolute;
    font-size: 100px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-frame3 {
    top: 5520px;
    left: 90px;
    width: 236px;
    height: 122px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(27, 6, 6, 1);
    border-style: solid;
    border-width: 25px;
    border-radius: 40px 0 0 20px;
    background-color: rgba(94, 5, 5, 1);
  }
  .index-frame5 {
    top: 230px;
    left: 49px;
    width: 73px;
    height: 116px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .index-frame4 {
    top: 5px;
    left: 34px;
    width: 556px;
    height: 230px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(15, 1, 1, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 40px 0 0 20px;
  }
  .index-text58 {
    top: 47px;
    left: 42.5px;
    color: rgba(255, 255, 255, 1);
    width: 398px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Lancelot;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .index-frame20 {
    top: 2864px;
    left: 146px;
    width: 1093px;
    height: 30px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(184, 20, 20, 1);
    border-style: solid;
    border-width: 5px;
    background-color: rgba(17, 14, 14, 1);
  }
  